<div class="container center-align">
  <div class="row">
    <img class="img" src="assets/images/about-us/gdg-photo.jpg" />
  </div>
  <div class="row valign-wrapper">
    <div class="col s12 m5">
      <img class="img" src="assets/images/about-us/gdg-logo.jpg" />
    </div>
    <div class="col s12 m7 mt30">
      <h4>
        ¿Qué es GDG?
      </h4>
      <p class="paragraph">
        Google Developers Group (GDG): es una comunidad abierta y voluntaria que comparte la experiencia y conocimiento
        sobre tecnología.
      </p>
      <div class="right-align">
        <a href="//www.facebook.com/GDGCochabamba/" target="_blank" rel="noopener noreferrer">
          Siguenos en:&nbsp;&nbsp;<i class="fab fa-facebook-square icon-20"></i>
        </a>
      </div>
    </div>
  </div>
</div>
