<div id="code-of-conduct">
  <div class="container section center-align white-text">
    <div class="row">
      <div class="col offset-m2 m8">
        <h3>Código de conducta de la comunidad</h3>
        <h6 id="code-of-conduct-content">
          Todos los capítulos de GDG están dedicados a proporcionar una experiencia de evento libre de acoso e inclusivo
          para
          todos, independientemente de la identidad y expresión de género, orientación sexual, discapacidad,
          neurodiversidad,
          apariencia física, tamaño corporal, etnia, nacionalidad, raza, edad, religión u otro tipo.
          No toleramos el acoso de los participantes del evento de ninguna forma. Cada capítulo de GDG toma en serio las
          violaciones de nuestra política y responderá de manera adecuada.
        </h6>
      </div>
    </div>
  </div>
</div>
