<div class="container extra-margin center-align">
  <h4>¿Qué es Devfest?</h4>
  <p class="paragraph">
    GDG DevFest Cochabamba es un evento organizado por la comunidad GDG Cochabamba. Este año <strong>reuniremos a
      expertos en
      Tecnologías Web, Móvil e Inteligencia Artificial (AI)</strong> entre otros temas, durante dos días llenos de
    charlas y
    conocimento.
  </p>
  <div class="divider"></div>
  <gdg-about-gdg></gdg-about-gdg>
  <div class="divider"></div>
  <gdg-about-wtm></gdg-about-wtm>
</div>
