@import '../../../styles.variables';

#partners-subtitle {
  line-height: 1.7rem;
}

.partner-content {
  height: 200px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-logo {
  max-height: 200px;
  max-width: 100%;
}
