<div *ngIf="(partners$ | async) as partners">
  <div class="container section center-align">
    <h3>Partners</h3>
    <div class="row">
      <div class="col s12 offset-m1 m10">
        <h6>
          DevFest no sería posible sin nuestros patrocinadores y socios. Más de 30 empresas apoyaron DevFest Cochabamba
          durante los 7 años.
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 center-align partner-content" *ngFor="let partner of partners">
        <a [href]="partner.link" target="_blank" rel="noopener noreferrer">
          <img class="partner-logo" [src]="partner.logoUrl" [alt]="partner.name">
        </a>
      </div>
    </div>
  </div>
</div>
