<div class="align-left-on-medium">
  <div class="row vertical-center">
    <div class="col s12 m5">
      <img class="about-us-img" src="assets/images/about-us/wtm-logo.jpg" alt="Women Techmakers Cochabamba">
    </div>
    <div class="col s12 m7">
      <h4>
        ¿Qué es WTM?
      </h4>
      <p class="about-us-content">
        Women Techmakers es un programa creado por Google para proveer visibilidad, comunidad y recursos para mujeres en
        tecnología. Ayudarlas a crecer, liderar y prosperar.
      </p>
      <p class="about-us-content">
        Cada WTM colabora en conjunto con un GDG a nivel mundial, siendo el principal objetivo de esta iniciativa la
        construcción de una comunidad tecnológica, rompiendo la brecha de género.
      </p>
      <div class="right-align">
        <a href="//www.facebook.com/WomenTechmakersCochabamba/" target="_blank" rel="noopener noreferrer">
          Síguenos en:&nbsp;&nbsp;<i class="fab fa-facebook-square icon-20"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row mt50">
    <img class="about-us-img" src="assets/images/about-us/wtm-photo.jpg" alt="Women Techmakers Cochabamba 2019">
  </div>
</div>
