@import '../../../../styles.variables';

img {
  width: 100%;
}

@media #{$medium-and-up} {
  .gdg-text-align {
    text-align: left;
  }
}

@media #{$medium-and-up} {
  .vertical-center {
    display: flex;
    align-items: center;
  }
}

.mt30 {
  margin-top: 30px;
}

.icon-20 {
  font-size: 20px;
}
