<div gdgTransparentNavbar class="parallax-container valign-wrapper">
  <span id="color-layer"></span>
  <div class="parallax-container-data center-align">
    <div id="banner-container" class="container">
      <div class="row">
        <div class="col offset-m2 m8">
          <img id="devfest-logo" src="assets/images/logo-devfest.svg" alt="DevFest">
          <img id="cbba-logo" src="assets/images/logo-cochabamba2019.svg" alt="Cochabamba 2019">
          <h6 id="banner-details">
            <strong>GDG DevFest Cochabamba</strong> es un evento para desarrolladores liderado por la comunidad Google Developers
            Group Cochabamba. Somos una comunidad centrada en compartir el conocimiento sobre tecnologías de Google.
          </h6>
          <h6 id="place-and-date">
            Noviembre 29-30
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div id="scroll-down" class="center-align">
    <p>
      <a href="#about-us">
        Descubre más sobre DevFest
      </a>
    </p>
    <img src="assets/images/arrow-down.svg" alt="Cochabamba 2019">
  </div>
  <div gdgParallax class="parallax">
    <img src="assets/images/banner.jpg" alt="Banner Background">
  </div>
</div>
