@import './styles.colors';
@import './styles.variables';
@import '~materialize-css/sass/materialize';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  font-family: 'Lato', sans-serif;
  color: $text-color;
}

gdg-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  cursor: pointer;
}

strong {
  font-weight: 700;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.top-section {
  position: relative;
  z-index: 997;
}

.parallax-container {
  position: relative;
  height: calc(100vh - 56px);
  min-height: $parallax-min-height;
  background-color: rgba($primary-color-dark, 0.5);

  @media #{$medium-and-up} {
    height: 100vh;
  }

  &-data {
    width: 100%;
  }
}

.divider {
  margin: 80px auto;
  background-color: $divider-color;
}
